{%  extends 'layout.html' %}

{% block content %}


<div class="container">
        <div class="m-1 p-1">
            <form method='POST'>
                 <div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.hidden_tag() }}
                            {{form.nick.label}}
                            {{form.nick(class='form-control')}}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{form.age.label}}
                            {{form.age(class='form-control')}}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{form.level.label}}
                            {{form.level(class='form-control')}}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{form.goal.label}}
                            {{form.goal(class='form-control')}}
                        </div>
                        <div class="col-md-4 mb-1">
                            {{form.country.label}}
                            {{form.country(class='form-control')}}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{form.skype.label}}
                            {{form.skype(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-secondary")}}
                        </div>
                 </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block table %}

<h1>Thank you. Here is the info you gave us:</h1>


<table class="table">
        <thead class="table thead-dark table-hover">
          <tr>
            <th scope="col">Nick</th>
            <th scope="col" class="text-center">Age</th>
            <th scope="col" class="text-center">Level</th>
            <th scope="col" class="text-center">Country</th>
            <th scope="col" class="text-center">Skype</th>
          </tr>
        </thead>
        <tbody>
            {% for ses in sessions %}
            <tr>
              <td>{{ses['nick']}}</td>
              <td class="text-center">{{ses['age']}}</td>
              <td class="text-center">{{ses['level']}}</td>
              <td class="text-center">{{ses['country']}}</td>
              <td class="text-center align-middle" style="text-align: center;"><a href= "skype:{{ses['skype']}}?chat"><img src="../static/dist/img/3232.png">
            </a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock %}